<div class="position-relative vh-100  ">
    <div class="d-flex justify-content-center mt-5">
        <img src="https://cygnusworldschool.com/img/philosophy/blue.jpg" alt="Background"
            class=" img-fluid position-absolute w-75 " style="opacity: 0.2; z-index: -1;">
    </div>

    <h1 class="display-4 position-relative text-center text-black">Teacher's Login</h1>
<div class="container mt-5 border shadow col-md-4">

    <div class="mb-3 mt-3">
        <label for="exampleFormControlInput1" class="form-label">User ID</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter User ID">
      </div>  
    <div class="mb-3 mt-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter Password">
      </div>  
<div class="text-center mb-3">
    <button class="btn btn-success">Login</button>
</div>
      
</div>
  
