<div class="position-relative vh-100  ">
  <div class="d-flex justify-content-center mt-5">
    <img src="https://cygnusworldschool.com/img/philosophy/blue.jpg" alt="Background"
      class=" img-fluid position-absolute w-75 " style="opacity: 0.2; z-index: -1;">
  </div>

  
  <h1 class="display-4 position-relative text-center text-black">Enter Student's Data</h1>

  <form [formGroup]="stuRegForm" (ngSubmit)="submit()">

    <div class="container col-md-8 d-flex border shadow mt-3">
      <div class="col-md-6">
        <div class="mb-3 mt-3">
          <label for="exampleFormControlInput1" class="form-label">Student's Name</label>
          <input type="text" class="form-control bg-transparent border-1" id="id1" placeholder="Name"
            formControlName="name">
            
            <div class="invalid-feedback d-block" *ngIf="stuRegForm.get('name')?.errors?.['required'] && stuRegForm.get('name')?.touched">
              *it is a required field
            </div>
            <div class="invalid-feedback d-block" *ngIf="stuRegForm.get('name')?.errors?.['pattern']">
              *required minimum Length and follow format
            </div>
        </div>

        <div class="mb-3 mt-3">
          <label for="exampleFormControlInput1" class="form-label">Class</label>
          <input type="text" class="form-control bg-transparent border-1" id="id2" placeholder="Class"
            formControlName="class">

            <div class="invalid-feedback d-block" *ngIf="stuRegForm.get('class')?.errors?.['required'] && stuRegForm.get('class')?.touched">
              *it is a required field
            </div>
            <div class="invalid-feedback d-block" *ngIf="stuRegForm.get('class')?.errors?.['pattern']">
              *enter only numeric value between 1-12
            </div>

        </div>
        <div class="mb-3 mt-3">
          <label for="exampleFormControlInput1" class="form-label">Marks</label>
          <input type="text" class="form-control bg-transparent border-1" id="id3" placeholder="in Percent '%'"
            formControlName="marks">

            <div class="invalid-feedback d-block" *ngIf="stuRegForm.get('marks')?.errors?.['required'] && stuRegForm.get('marks')?.touched">
              *it is a required field
            </div>
            <div class="invalid-feedback d-block" *ngIf="stuRegForm.get('marks')?.errors?.['pattern']">
              *enter only numeric values between 1-100
            </div>

        </div>
        <div class="mb-3 mt-3">
          <label for="exampleFormControlInput1" class="form-label">Student's Rank</label>
          <input type="text" class="form-control bg-transparent border-1" id="id4" placeholder="Rank in Class"
            formControlName="rank">

            <div class="invalid-feedback d-block" *ngIf="stuRegForm.get('rank')?.errors?.['required'] && stuRegForm.get('rank')?.touched">
              *it is a required field
            </div>
            <div class="invalid-feedback d-block" *ngIf="stuRegForm.get('rank')?.errors?.['pattern']">
              *enter only numeric values
            </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3 mt-3">
          <label for="exampleFormControlInput1" class="form-label">Roll</label>
          <input type="text" class="form-control bg-transparent border-1" id="id5" placeholder="Roll"
            formControlName="roll">

            <div class="invalid-feedback d-block" *ngIf="stuRegForm.get('roll')?.errors?.['required'] && stuRegForm.get('roll')?.touched">
              *it is a required field
            </div>
            <div class="invalid-feedback d-block" *ngIf="stuRegForm.get('roll')?.errors?.['pattern']">
              *enter only numeric values
            </div>

        </div>

        <div class="mb-3" >
          <div class="form-check">
            <input  class="form-check-input" type="radio" name="sex" id="flexRadioDefault1"
            value="male" formControlName="sex">
            <label class="form-check-label" for="flexRadioDefault1">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sex" id="flexRadioDefault2"
              value="female" formControlName="sex">
            <label class="form-check-label" for="flexRadioDefault2">
              Female
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sex" id="flexRadioDefault3" checked
              value="other" formControlName="sex">
            <label class="form-check-label" for="flexRadioDefault3">
              Other
            </label>
          </div>
        </div>

        <div class=" mb-3 ">
          <label for="city">Select City</label>
          <select class="form-select bg-transparent border-1" aria-label="Default select example" name="city"
            formControlName="city">
            <option selected>Select City</option>
            <option value="nashik">Nashik</option>
            <option value="mumbai">Mumbai</option>
            <option value="nagpur">Nagpur</option>
            <option value="gondia">Gondia</option>
            <option value="pune">Pune</option>
          </select>
        </div>
        <button class="btn btn-success mb-3" type="submit" [disabled]="stuRegForm.invalid">Submit</button> &nbsp;
        <button class="btn btn-success px-3 mb-3" type="reset">Reset</button>

      </div>

    </div>

  </form>

  <button (click)="putData()">update</button>

  
</div>