<div class="position-relative vh-100  ">
    <div class="d-flex justify-content-center mt-5">
        <img src="https://cygnusworldschool.com/img/philosophy/blue.jpg" alt="Background"
            class=" img-fluid position-absolute w-75 " style="opacity: 0.2; z-index: -1;">
    </div>

    <div class="">
        <h1 class="display-4 position-relative text-center text-black">Student's Data</h1>

        <div class="container col-md-8 d-flex border shadow mt-3 mb-3">

            <div class="mb-3 mt-3 col-md-4">
                <label for="exampleFormControlInput1" class="form-label">Search Name</label>
                <input type="text" class="form-control bg-transparent border-1" id="id1" placeholder="Name">
            </div>

            <div class="col-md-4 mt-3">
                <label for="class" class="form-label">Filter Class</label>
                <select name="Class" class="form-select bg-transparent border-1" aria-label="Default select example">
                    <option selected>Select Class</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>

            <!-- <button class="btn btn-success"> sort <i class="bi bi-sort-alpha-down"></i></button> -->

            <h4 class="mt-5 mx-5 display-8 form-label"><i class="bi bi-sort-numeric-down"></i> <span
                    class="mx-2">Rank</span> <i class="bi bi-sort-numeric-up-alt"></i> </h4>

        </div>

        <!-- </div> -->


        <div class="container col-md-8 d-flex border shadow mt-3">


            <table class="table table-striped mt-3" style="background-color: 255,255,255,0.5;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>




        </div>
    </div>
</div>